.general{
  display: flex;
  gap: 65px;
  padding: 10px;
}
.container-libros{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding: 10px;
}
.containerLectura{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:25px;
  padding: 20px;
  background-color: darkcyan;
  border-style: double;

}

.imagenLectura.img{
  position: relative;
}

.filtros{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}
.list{
  padding: 25px;
}
h2,h3{
  padding: 15px;
}
.contenido{
  text-align: left;
  background-color: #a09b9b;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.titulo{
  padding: 20px;
  margin-bottom: 50px;
  background-color: cadetblue;

}
/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}
.borrar-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  /* ... (existing media queries) */
  
  .container-libros {
    grid-template-columns: repeat(1, 1fr); /* Adjust the columns for smaller screens */
    gap: 10px;
  }
  
  .containerLectura {
    grid-template-columns: repeat(1, 1fr); /* Adjust the columns for smaller screens */
    gap: 10px;
  }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* ... (existing media queries) */
  
  .container-libros {
    grid-template-columns: repeat(3, 1fr); /* Adjust the columns for medium screens */
    gap: 15px;
  }
  
  .containerLectura {
    grid-template-columns: repeat(2, 1fr); /* Adjust the columns for medium screens */
    gap: 15px;
  }
}

/* Large devices (desktops) */
@media only screen and (min-width: 1025px) {
  /* ... (existing media queries) */
  
  .container-libros {
    grid-template-columns: repeat(4, 1fr); /* Adjust the columns for larger screens */
    gap: 20px;
  }
  
  .containerLectura {
    grid-template-columns: repeat(3, 1fr); /* Adjust the columns for larger screens */
    gap: 25px;
  }
}