.general{
  display: flex;
  gap: 65px;
  padding: 10px;
}
.container-libros{
  display: grid;
  border-right: 5px solid whitesmoke;
  margin-bottom: 50px;
}
.lista-completa{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.lista-oculta{
  display: grid;
  grid-template-columns: 100%;
  padding: 25px;
}
.listas{
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 20px;
}
.containerLectura{
  position: sticky;
  text-align: center;
  top: 20px;
  max-height: calc(70vh - 20px);
  margin-left: 50px;
  color: antiquewhite;
}
.book-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6.5rem, 1fr));
  gap: 10px;
}

.filtros{
  display: flex;

  align-items: center;
  margin: 10px;
  gap: 30px;
  color: antiquewhite;
}
.list{
  padding: 25px;
}
h2,h3{
  padding: 15px;
}
.contenido{
  opacity: 2;
  background-image: radial-gradient(#64748b 1.1500000000000001px,transparent 0),radial-gradient(#64748b 1.1500000000000001px,#111516 0);
  background-size: 26px 26px;
  text-align: center;
  font-family: 'Trebuchet MS'
}
.contenido h4{
  color: antiquewhite;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 50px;
  background-image: linear-gradient(to bottom, #2e5791, #0a294e);
  color: antiquewhite;
}
.verLista{
 background-color: antiquewhite;
  
}

.titulo button {
  background-color: antiquewhite;
  cursor: pointer;
}

.borrar-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
   
  .container-libros {
    grid-template-columns: repeat(1, 1fr); 
    gap: 10px;
  }
  
  .containerLectura {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
 
  .container-libros {
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
  }
  
  .containerLectura {
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
  }
}

@media only screen and (min-width: 1025px) {
  
  .container-libros {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .containerLectura {
  position: sticky;
  text-align: center;
  top: 20px;
  max-height: calc(70vh - 20px);
  margin-left: 50px;
  color: antiquewhite;
  }
}